body{
  background-color: #FFFFFF;
  font: 10px "微軟正黑體", Arial;
  color: black;
  width: 1100px;
  margin: 25px auto;
}
/* 表頭 */
.aHeader {
    background-color: #ffb900;
    max-height: 100px;/* 最大高度 */
}
.aHeader:before { 
  /* 偽元素，在.aHeader的之前,在圓形圖前加上獨立區塊的方圓,讓content的值為空，再用寬高做出需要的白色範圍*/
    display: inline-block;
    content: '';
    width: 70px;
    height: 102px;
    vertical-align: top;
    background-color: white;
    position: relative;
    left: 50px;
}

.img-profilo {
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    /* background-color: white;可以設定一個白色圓形 */
    content: '';
    background: url(https://media.karousell.com/media/photos/products/2018/05/18/_______1526653677_f3ed9a51.jpg);
    /*background: url(https://pic.pimg.tw/a93090b03/1329887210-2688650893_q.jpg); 填滿這張圖片 */ 
    background-size: contain; /*指定背景圖片大小使背景圖縮小至內容的大小*/
    border-radius: 50%;
    position: relative;
    top: -12px;
    left: -9px;
    z-index: 0;
    border-style: solid;
}

.h1-tit {
    display: inline-block;
    vertical-align: top;/* 往上排列 */
    margin: 8px 0;
    font-size: 5em;
    line-height: 0.8em;
    letter-spacing: 5px;
}

.h1-tit span {
    font-size: 0.6em;/* 父層的5em為1，子層縮小就是小數點倍數 */
    display: block;
    line-height: 1em;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 20px;
}

.h6-desc {
    font-size: 13.6px;
    margin: -47px 0 0 132px;
    letter-spacing: 0.1px;
}

.bProfile {
    display: inline-block;
}

.bInfo {
    display: inline-block;
    float: right;
    width: 60%;
}

.li-info {
    display: inline-block;
    font-size: 16px;
    margin: 8px 18px;
    width: 272px;
}

.li-info a {
    color: #101010;
    text-decoration: none;/* 文字底線刪除 */
    margin: 0 0 0 8px;
    word-break: break-all;
}

/*.li-info:before { 
  偽元素，在.li-info的之前,在文字前加上獨立區塊的小圓,讓content的值為空，再用寬高做出需要的小圓
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    vertical-align: top;
}*/
.li-info:nth-child(1) :before {
  /* 偽元素，在.li-info的之前,在文字前加上獨立區塊的小圓,讓content的值為空，再用寬高做出需要的小圓*/
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background: url(https://image.flaticon.com/icons/svg/181/181535.svg);
    background-size: contain;
    border-radius: 50%;
    vertical-align: top;
}
.li-info:nth-child(2) :before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background: url(https://image.flaticon.com/icons/svg/33/33962.svg);
    background-size: contain;
    border-radius: 50%;
    vertical-align: top;
}
.li-info:nth-child(3) :before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background: url(https://image.flaticon.com/icons/svg/1167/1167067.svg);
    background-size: contain;
    border-radius: 50%;
    vertical-align: top;
}
.li-info:nth-child(4) :before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background: url(https://image.flaticon.com/icons/svg/2/2592.svg);
    background-size: contain;
    border-radius: 50%;
    vertical-align: top;
}
/*中間5區塊*/
.h4-stit {
    background-color: #ffb900;
    font-size: 1.6em;
    padding: 5px 0 5px 45px;
    position: relative;
}

.h4-stit:before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background: url(http://d3u67r7pp2lrq5.cloudfront.net/product_photos/65779191/file_e45532ddf1_original.png);
    background-color: white;
    /*background: url(https://previews.123rf.com/images/redlinevector/redlinevector1702/redlinevector170205928/71513942-puss-in-boots-vector-icon.jpg);*/
    background-size: contain;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: -5px;
}

.bContent{
    display: inline-block;
    vertical-align: top;
    width: 47.3%;
    margin-right: 5%;
}

.bContent:nth-child(even) {
    margin-right: 0;
}

.bContent:nth-child(5) {
    margin-top: -140px;
}

.c-desc{
  font-size: 1.6em;
  line-height: 2;
  text-align: justify;
  word-break: break-all;
}

#codeconSkills {
    font-size: 0.8em;
    height: auto;
}
.codeconSkillbar {
    width: 90%;
    height: 20px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#codeconHTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 20px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}

#codeconCSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 70%;
    height: 20px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}

#codeconjQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 20px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#codeconJS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 65%;
    height: 20px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}

#codeconXML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 40%;
    height: 20px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}

.ul-info {
    display: inline-block;
}

.li-data {
    display: inline-block;
    float: right;
    width: 48%;
    margin-top: -45px;
    color: #9b9b9b;
    font-weight:bold;
    font-size: 1em;
}

.h2-workex {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    vertical-align: top;
    margin-top: -15px;
}

.h2-workex span{
    font-size: 0.8em;
    display: block;
    line-height: 1em;
    font-weight: bold;
}

.h2-workex p {
    font-size: 0.8em;
    line-height: 1em;
}


/*頁腳*/
.aFooter{
    display: inline-block;
    background-color: #666666;
    width: 1100px;
    height: 220px;
    margin: 50px 0;
    position: relative;
}

.aFooter .h5-stit {
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
}

.aFooter .c-desc{
    display: inline-block;
    width: 80%;
}

.aFooter .c-desc01{
    display: inline-block;
    width: 80%;
    margin: 0 0 0 45px;
}

.aFooter .c-desc02{
    display: inline-block;
    width: 40%;
}

.aFooter .c-desc03{
    display: inline-block;
    width: 40%;
    margin: 0 0 0 45px;
}

.aFooter .txt-stitSub {
    font-size: 0.85em;
    color: white;
    line-height: 1em;
    display: block;
    margin: -7px 0 20px 0;
}

.aFooter .txt-desc {
    font-size: 0.85em;
    font-weight: normal;
    color: white;
    display: block;
    word-break: break-word;
    line-height: 1.5em;
    margin-top: 10px; 
}

/*aExtender 浮動的5張圖片,參考網址： https://elbarri.com/ */

.ul-profile-show {
    width: 990px;
    height: 495px;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    padding: 0;
}

/*我滑過ul時，請將滑過的這個ul下的所有li的透明度都設為半透明*/
.ul-profile-show:hover > .li-profile-show {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*我滑過ul時，請將滑過的這個li的透明度設不透明*/
.ul-profile-show:hover > .li-profile-show:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.li-profile-show {
    background: no-repeat;
    position: absolute;
    transition: all 0.3s linear;
}

.li-profile-show img{
    display: : none;
}

.li-profile-show01 {
    width: 660px;
    height: 330px;
    background-image: url(https://ppt.cc/fYwagx);
    top: 0;
    left: 0;
}

.li-profile-show02 {
    width: 330px;
    height: 165px;
    background-image: url(https://ppt.cc/f85Nax);
    left: 0;
    bottom: 0;
}

.li-profile-show03{
    width: 330px;
    height: 165px;
    background-image: url(https://ppt.cc/fZbxjx);
    left: 330px;
    bottom: 0;
}

.li-profile-show04{
    width: 330px;
    height: 165px;
    background-image: url(https://ppt.cc/fCwl1x);
    top: 0;
    right: 0;
}

.li-profile-show05{
    width: 330px;
    height: 330px;
    background-image: url(https://ppt.cc/flgowx);
    right: 0;
    bottom: 0;
}

@media screen and (max-width:864px) {
.ul-profile-show {
    width: 495px;
    height: 247.5px;
    margin: 0 100px;
}

.li-profile-show01 {
    width: 330px;
    height: 165px;
    background-size: 330px  165px;
}

.li-profile-show02 {
    width: 165px;
    height: 82.5px;
    background-size: 165px  82.5px;
}

.li-profile-show03{
    width: 165px;
    height: 82.5px;
    left: 165px;
    background-size: 165px  82.5px;
}

.li-profile-show04{
    width: 165px;
    height: 82.5px;
    background-size: 165px  82.5px;
}

.li-profile-show05{
    width: 165px;
    height: 165px;
    background-size: 165px  165px;
}
}